{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--Link Bootstrap-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <!--Link Iconos de Bootstrap-->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
  <!--Link CSS-->
  <link rel="stylesheet" href="{% static 'css/autentication.css' %}">
  <title>Alma Canina</title>
</head>
<body>
    <div class="card p-4">
        <h2 class="mb-3">Recuperar contraseña</h2>
        <p>Ingresa tu correo y te enviaremos un enlace.</p>
        <form method="post" class="form" id="passwordResetForm" action="{% url 'password_reset' %}">
          {% csrf_token %}
          <div class="mb-3 contenedor-input">
            <i class="bi bi-envelope-at"></i>
            <input type="email" name="email" id="email" placeholder="Correo" class="form" required>
          </div>
          <button type="submit" class="btn">Enviar enlace</button>
        </form>
        <div class="text-center mt-3 pregunta">
          <a href="{% url 'login' %}">¿No quieres cambiar la contraseña? Volver a Iniciar Sesion</a>
        </div>
      </div>
    <!--Link Js de Bootstrap-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>