@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url('../img/fondo huellita con colores del logo.png');  /* ya muestra la imagen de fondo*/
    background-color: gold;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    font-family: "PT Serif", serif;
}
.contenedor{ /*contenedor de los formularios y cambio al otro formulario*/
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    position: relative;
    width: 760px;
    max-width: 100%;
    min-height: 480px;
    margin: 20px;
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}
.contenedor form::-webkit-scrollbar { /* para que no se vea el scroll */
    display: none; 
}
.contenedor p{ /*texto de contenedor de color*/
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.3px;
    margin: 20px 0;
}
.contenedor a{ /*contenedor de pregunta no recuerdas su contrase;a*/
    color: #03084b;
    font-size: 13px;
    text-decoration: none;
    margin: 15px 0 10px;
    color: #fff;
}
.pregunta a{ /*color de pregunta no recuerdas su contrase;a*/
    color: cornflowerblue;
}
.contenedor h2{ /*todos los titulos en el contenedores*/
    color: #070e72;
}
.cambiar-contenedor h2{ /*titulos de los contenedores de color*/
    color: #fff;
}
.contenedor button{ /*boton inicio sesion y registrarse de los form*/
    background-color: rgb(174, 65, 228);
    color: #fff;
    font-size: 12px;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
}
.contenedor button.hidden{ /*boton panel inicio sesion y registrarse de los form, letra color blanco, no cambia de color*/
    background-color: transparent;
    border-color: #fff;
}
.contenedor-input{ /*inputs de los form*/
    background-color: #eee;
    border: none;
    outline: none;
    margin: 8px 0;
    padding: 8px 15px;
    /*font-size: 13px;*/
    border-radius: 8px;
    width: 100%;
    position: relative;
    display: grid;
    grid-template-columns: 20px auto;
    overflow: visible;
}
input{ /*input de los form*/
    background-color: inherit;
    border: none;
    border-radius: 8px;
}
.icon-wrapper{ /* contenedor de iconos */
    left: 8px;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.toggle-lock, .toggle-unlock{
    cursor: pointer;
}
.toggle-lock.d-none, .toggle-unlock.d-none{
    display: none;
}
input:focus{ /* Quita el border del input */
    outline: none;
}
.contenedor-input i{  /* color de iconos de los inputs */
    color: #070e72;
}
.contenedor form{ /*contenedor para cada form*/
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.form-contenedor{  /*contenedor de los form*/
    position: absolute;
    height: 100%;
    min-height: 100%;
    display: flex;
}
.form-contenedor form{ /* contenedor del form*/
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    overflow-y: auto;
}
.sign-in{ /*contenedor de los form posicion*/
    left: 0;
    width: 50%;
    z-index: 2;
}
.icons{ /*iconos de redes para ingresar usuario/correo*/
    margin: 20px 0;
    display: flex;
    justify-content: center;
}
.icons a{ /*iconos de redes para ingresar usuario/correo*/
    border: 1px solid #ccc;
    border-radius: 20%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 3px;
    width: 40px;
    height: 40px;
    cursor: pointer;
}
.icons i{
    color: #070e72;
}
.cambiar-contenedor{ /*contenedores de colores movibles*/
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: all 0.6s ease-in-out;
    border-radius: 100px 0 0 100px;
    z-index: 1000;
}
.cambiar{ /*contenedor de color cambiar*/
    height: 100%;
    background: linear-gradient(to right, #6908aa, #e0106a);
    color: #fff;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}
.cambiar-panel{ /*contenedores de colores, parte interna*/
    position: absolute;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 30px;
    text-align: center;
    top: 0;
    transform: translateX(0);
}
.cambiar-right{ /*contenedores de colores, parte interna mover derecha*/
    right: 0;
    transform: translateX(0);
}

/* Medias Query*/
@media screen and (max-width:933px){ /*horizontal celular iphon 14 pro max*/
    .contenedor{
        width: 100%;
        max-width: 100%;
        min-height: 95%;
        margin: 20px;
        display: flex;
    }
    .contenedor-input{
        padding: 8px;
    }
}
@media screen and (max-width: 670px) { /*ya esta en horizontal*/
    .contenedor-input{
        padding: 8px;
    }
    .contenedor p{ /*letras del contenedor de color*/
        font-size: 18px;
    }
    .contenedor h2{ /*titulos del form y contenedor de color*/
        font-size: 35px;
    }
}
@media screen and (max-width: 650px){ /* vertical*/
    .contenedor-input{
        padding: 15px;
    }
    .form-contenedor.sign-in{ /*ubicacion del form login abajo*/
        height: 70%;
        width: 100%;
        top: 30%;
        flex: 0 0 70%;
        min-height: 0;
    }
    .cambiar-contenedor{ /*contenedor de colores*/
        height: 30%;
        width: 100%;
        left: 0;
        border-radius: 0 0 50px 50px;
        flex: 0 0 30%; 
    }
    .contenedor.active .cambiar-contenedor{ /*mantiene el contenedor de color en su lugar*/
        left: 0;
        right: 0;
        top: 70%;
        transform: translateY(30%);
    }
    .contenedor{
        display: flex;
        flex-direction: column;
        height: calc(100vh-20px);  
        overflow: hidden;
    }
}
@media screen and (max-width: 440px){ /*vertical*/
    .contenedor-input{
        padding: 18px;
    }
    .contenedor p{ /*letras del contenedor de color*/
        font-size: 15px;
    }
    .contenedor h2{ /*titulos del form y contenedor de color*/
        font-size: 28px;
    }
    .form{ /*palabras de los form*/
        font-size: 18px;
    }
    .form-check-label{ /*opcion de recordarme, solo en login*/
        font-size: 23px;
    }
    .form-check-input{ /*checkouy de opcion recordarme, solo en login*/
        height: 16px;
        width: 16px;
    }
    .pregunta a{ /*pregunta de olvidar contrase;a, solo en login*/
        font-size: 20px;
    }
    .contenedor-input a{ /*iconos de los input*/
        height: 20px;
        width: 20px;
    }
    .icons a{ /*iconos de redes sociales*/
        height: 50px;
        width: 50px;
    }
    .contenedor{
        overflow: hidden;
    }
    .form-contenedor.sign-in {
        flex: 0 0 70%;
        min-height: 0;
    }
    .cambiar-contenedor {
        flex: 0 0 30%;
    }
}
@media screen and (max-width: 380px){ /*vertical*/
    .contenedor-input{
        padding: 6px;
    }
    .contenedor p{ /*letras del contenedor de color*/
        font-size: 12px;
    }
    .contenedor h2{ /*titulos del form y contenedor de color*/
        font-size: 20px;
    }
    .form-check-label{ /*opcion de recordarme, solo en login*/
        font-size: 18px;
    }
    .form-check-input{ /*checkouy de opcion recordarme, solo en login*/
        height: 13px;
        width: 13px;
    }
    .pregunta a{ /*pregunta de olvidar contrase;a, solo en login*/
        font-size: 15px;
    }
    .contenedor{
        overflow: hidden;
    }
    .form-contenedor.sign-in {
        flex: 0 0 70%;
        min-height: 0;
    }
    .cambiar-contenedor {
        flex: 0 0 30%;
    }
}