{% load static %}
{% load widget_tweaks %}

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/profiles/perfil.css' %}">

    <p>Usa el formulario a continuación para cambiar tu contraseña.</p>
    <form method="post" id="password-change-form"action="{% url 'password_change' %}">
        {% csrf_token %}
        <h6 class="titulo-seccion"><i class="bi bi-lock"></i> Introduzca su Contraseña Actual</h6>
        <div class="mb-3">
            <label for="{{ form.old_password.id_for_label }}" class="form-label">Contraseña Actual:</label>
            {{ form.old_password|add_class:"form-control"|attr:"id:id_old_password" }}
            <div id="error_old_password"></div>
        </div>
        <h6 class="titulo-seccion"><i class="bi bi-lock"></i> Introduzca la Nueva Contraseña</h6>
        <div class="mb-3">
            <label for="{{ form.new_password1.id_for_label }}" class="form-label">Nueva Contraseña:</label>
            {{ form.new_password1|add_class:"form-control"|attr:"id:id_new_password1" }}
        </div>
        <h6 class="titulo-seccion"><i class="bi bi-lock"></i> Confirmar Nueva Contraseña</h6>
        <div class="mb-3">
            <label for="{{ form.new_password2.id_for_label }}" class="form-label">Confirmar Nueva Contraseña:</label>
            {{ form.new_password2|add_class:"form-control"|attr:"id:id_new_password2" }}
        </div>
        
        <div class="modal-footer">
            <button type="button" class="edit-button edit" data-bs-dismiss="modal">Cancelar</button>
            <button type="submit" class="edit-button">Cambiar Contraseña</button>
        </div>
    </form>

    <div class="modal fade" id="passwordChangeDoneModal" tabindex="-1" aria-labelledby="passwordChangeDoneModalLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-center w-100" id="passwordChangeDoneModalLabel">Resultado del Cambio</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="password-change-done-content">
                    <div class="text-center">Cargando mensaje de éxito...</div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal" onclick="window.location.reload();">Aceptar</button>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

<script>
    
</script>