@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
*{
    box-sizing: border-box;
}
body{
    background-image: url('../img/fondo huellita con colores del logo.png'); /* no muestra la imagen de fondo*/
    background-color: gold;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    font-family: "PT Serif", serif;
}
.contenedor{ /*contenedor de los formularios y cambio al otro formulario*/
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    position: relative;
    width: 760px;
    max-width: 100%;
    min-height: 480px;
    margin: 20px;
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}
.contenedor form::-webkit-scrollbar { /* para que no se vea el scroll */
    display: none; 
}
.contenedor p{ /*texto de contenedor de color*/
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.3px;
    margin: 20px 0;
}
.contenedor a{ /*texto de contenedor de color para redirigir al login*/
    color: #03084b;
    font-size: 13px;
    text-decoration: none;
    margin: 15px 0 10px;
    color: #fff; 
}
.contenedor h2{ /*todos los titulos en el contenedor*/
    color: #070e72;
}
.cambiar-contenedor h2{ /*titulos de los contenedores de color*/
    color: #fff;
}
.contenedor button{ /*boton inicio sesion y registrarse de los form*/
    background-color: rgb(174, 65, 228);
    color: #fff;
    font-size: 12px;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
}
.contenedor button.hidden{ /*boton panel inicio sesion y registrarse de los form, letra color blanco, no cambia de color*/
    background-color: transparent;
    border-color: #fff;
}
.contenedor-input{ /* contenedor de los inputs e iconos de los form*/
    background-color: #eee;
    border: none;
    outline: none;
    margin: 8px 0;
    padding: 8px 15px;
    /*font-size: 13px;*/
    border-radius: 8px;
    width: 100%;
    position: relative;
    display: grid;
    grid-template-columns: 30px auto;
    overflow: visible;
}
.contenedor-input .mensaje-error{
    grid-column: 1/ -1;
}
input{ /*input de los form*/
    background-color: inherit;
    border: none;
    border-radius: 8px;
}
.icon-wrapper{ /* contenedor de iconos */
    left: 8px;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.toggle-lock, .toggle-unlock{
    cursor: pointer;
}
.toggle-lock.d-none, .toggle-unlock.d-none{
    display: none;
}
input:focus{ /* Quita el border del input */
    outline: none;
}
.contenedor-input i{ /*color de iconos de los inputs*/
    color: #070e72;
}
.cambiar-contenedor{ /*este es diferente al de login*/
    position: absolute;
    height: 100%;
    width: 50%;
}
.cambiar{ /*contenedor de color cambiar, este tambien es diferente al del login*/
    height: 100%;
    background: linear-gradient(to right, #6908aa, #c51cef);
    color: #fff;
    text-align: center;
    border-radius: 30px 100px 100px 30px;
}
.cambiar-panel{ /*contenedores de colores, parte interna, este es diferente que el de login*/
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 30px;
}
.contenedor form{ /*contenedor para cada form*/
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.form-contenedor{ /*contiene el form */
    position: absolute;
    display: flex;
    height: 100%;
    min-height: 100%;
    width: 50%;
    right: 0;
}
.form-contenedor form{ /* contenedor del form*/
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    overflow-y: auto;
}
.form-contenedor form:has(.alert){ /* me quita el justify-content center: no tocar*/
    justify-content: flex-start;
}
.form-contenedor.sing-up.for{
    padding: 8px;
}
/*.volver{  /*Opcion extra para volver al login/inicio: deactivado *
    color: darkblue;
    left: 50px;
    position: absolute;
    top: 35px;
    height: 30px;
    width: 30px;
}*/

/*Medias Queri*/
@media screen and (max-width:933px){ /*horizontal celular iphon 14 pro max*/
    .contenedor{
        width: 100%;
        max-width: 100%;
        min-height: 95%;
        margin: 20px;
        display: flex;
    }
    .contenedor-input{
        padding: 6px;
    }
}
@media screen and (max-width: 670px) { /*ya esta en horizontal*/
    .contenedor-input{
        padding: 4px;
    }
    .contenedor p{ /*letras del contenedor de color*/
        font-size: 15px;
    }
    .contenedor h2{ /*titulos del form y contenedor de color*/
        font-size: 30px;
    }
} 
@media screen and (max-width: 650px){ /*vertical*/
    .contenedor-input{
        padding: 15px;
    }
    .form-contenedor.sing-up{ /*ubicacion del form register arriba*/
        height: 70%;
        width: 100%;
        flex: 0 0 70%;
        min-height: 0;
    }
    .cambiar-contenedor{ /*contenedor de colores*/
        height: 30%;
        width: 100%;
        left: 0;
        flex: 0 0 30%;
    }
    .contenedor .cambiar-contenedor{ /*posicion del contenedor de colores*/
        left: 0;
        right: 0;
        top: 50%;
        transform: translateY(70%);
    }
    .cambiar{
        border-radius: 50px 50px 0 0; 
    }
    .contenedor {   /* contenedor */
        display: flex;
        flex-direction: column;
        height: calc(100vh-20px);  
        overflow: hidden;
    }
    .form-contenedor.sing-up::-webkit-scrollbar { /* para que no se vea el scroll */
        display: none;
    }
}
@media screen and (max-width: 440px){ /*vertical iphon 14 pro max*/
    .contenedor-input{
        padding: 18px;
    }
    .contenedor p{
        font-size: 19px;
    }
    .contenedor h2{ /*titulos del form y contenedor de color*/
        font-size: 30px;
    }
    .form{ /*palabras de los form*/
    font-size: 18px;
    }
    .contenedor-input a{ /*iconos de los input*/
        height: 20px;
        width: 20px;
    }
    .contenedor {   /* contenedor */
        display: flex;
        flex-direction: column;
        height: calc(100vh-20px);  
        overflow: hidden;
    }
    .form-contenedor.sing-up { /* contenedor form */
        flex: 0 0 70%;
        min-height: 0;
    }
    .form-contenedor.sing-up::-webkit-scrollbar { /* para que no se vea el scroll */
        display: none;
    }
    .cambiar-contenedor {   /* contenedor de color */
        flex: 0 0 30%;
    }
}
@media screen and (max-width: 390px){ /* vertical: mas fino*/
    .contenedor-input{
        padding: 6px;
    }
    .contenedor p{ /*letras del contenedor de color*/
        font-size: 12px;
        padding: 0;
    }
    .contenedor h2{ /*titulos del form y contenedor de color*/
        font-size: 20px;
    }
    .form{ /*palabras de los form*/
        font-size: 14px;
    }
    a{
        height: 45%;
    }
    .contenedor {   /* contenedor */
        display: flex;
        flex-direction: column;
        height: calc(100vh-20px);  
        overflow: hidden;
    }
    .form-contenedor.sing-up { /* contenedor form */
        flex: 0 0 70%;
        min-height: 0;
    }
    .form-contenedor.sing-up::-webkit-scrollbar { /* para que no se vea el scroll */
        display: none;
    }
    .cambiar-contenedor {   /* contenedor de color */
        flex: 0 0 30%;
    }
}