/*Tabla*/
.container{ /*contenedor de la tabla*/
    background: blueviolet;
    border-radius: 20px;
}
.table{ /*tabla*/
    table-layout: fixed;
    width: 100%;
    text-align: center;
}
img{ /* imagen de los productos*/
    border-radius: 50px;
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.tr{ /*borde de cabecera*/
    border: 2px blueviolet solid;
}
.tr .th{ /*titulo de tabla*/
    color: rgb(110, 33, 182);
}
.td{ /*contenido de la tabla*/
    padding: 0.25rem;
    vertical-align: middle;
    border: rgb(110, 33, 182) 2px solid;
}
/*Class del Js*/
.table__cantidad input{ /*input de cantidad*/
    width: 100%;
    max-width: 50%;
    padding: 0.25rem;
    box-sizing: border-box;
}
.table-productos h2{ /*nombre de los productos*/
    color: blueviolet;
    font-size: 20px;
    font-weight: 500;
}
/*Class del Js*/
/*Tabla*/